<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projecto"
        tools:targetApi="31">
        <activity
            android:name=".pizzacuatro"
            android:exported="false" />
        <activity
            android:name=".pizzatres"
            android:exported="false" />
        <activity
            android:name=".pizzados"
            android:exported="false" />
        <activity
            android:name=".Pizzita"
            android:exported="false" />
        <activity
            android:name=".pizza"
            android:exported="false" />
        <activity
            android:name=".Layouts"
            android:exported="false" />
        <activity
            android:name=".pizza4"
            android:exported="false" />
        <activity
            android:name=".pizza3"
            android:exported="false" />
        <activity
            android:name=".pizza2"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>